<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console Appender for System.out.println -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>SYSTEM_OUT - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/pogreske.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="SYSTEM_OUT" level="info" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>
